
<ion-content class="ioncontent">
    <div padding>
        <div class="logo">
          <img src="http://placehold.it50x50">
        </div>
        
        <ion-item>
          <ion-input type="text" [(ngModel)]="fullname" name="fullname" placeholder="Full Name">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email">
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Password">
          </ion-input>
        </ion-item>
        
        <ion-button expand="block" class="loginBtn" (click)="userSignup()">Sign Up</ion-button>
        
        <br>
        
        <ion-button expand="block" fill="clear" class="signup" (click)="loginPage()">Already have an account? Login</ion-button>
    </div>
  </ion-content>
  